* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, 'Roboto';
}

.top__content {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    list-style-type: none;
}

.resty {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align:center;
}

.resty_1 {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.what-we-do{
    padding-top: 64px;
}

.tube_1 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
}

.the_main_content_of_the_page {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    display:flex;
    flex-direction: column;
    width: 359px;
    padding: 37px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: white;
}

.card-link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: hsl(208, 56%, 58%);
    text-decoration: none;
}

.mini_image{
    align-self: center;
    margin-bottom: 51px;
}

.mars {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
     
}

.f_list{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display:flex;
    margin-right: 36px;
}

.main_footer{
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer-top{
    display:flex;
    padding-bottom: 96px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_text{
    width: 495px;
}

.footer_heading{
    width:340px;
    text-align: left;
    color: #fff;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.f_list:first-child::before{
    content: '1.';
    display: block;
    margin-right: 25px;
}

.f_list:nth-child(2)::before{
    content: '2.';
    display: block;
    margin-right: 25px;
  }

.f_list:last-child::before{
    content: '3.';
    display: block;
    margin-right: 25px;
}

.hr {
    opacity: 0.4;
}

.footer_infos{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer-top{
    display:flex;
    padding-bottom: 96px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_heading{
    width:340px;
    text-align: left;
    color: #fff;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.start__footer{
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    line-height: 26px;
}

.big_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

 .start_2 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 27px;
}

.top_button{
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.footer_copy{
    margin-top: 64px;
}

.text_footer{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.start_1 {
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.content-box {
    display:flex;
    flex-direction:column;
    height:100%;
}

.main__info {
    padding-top:115px;
    flex-grow: 1;
    background-image: url(img/illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom:32px;
    background-size: 37%;
}

.start1 {
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    opacity: 1;
    color: #222222;
}

.image_inside {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 32px;
    line-height: 46px;
}

.text_project{
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align:center;
}

.project_image{
    width:100%;
}

.project_parent{
    display:flex;
    justify-content:space-between;
    margin-top: 32px;
}

.project_item_margin{
    margin-right:32px;
}

.fa, .fas {
    display:inline-block;
    margin-left: 14px;
}

.project_item {
    position:relative;
    flex-grow: 1;
}

.image_inside_2{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;color: #FFFFFF;
    position:absolute;
    top: 32px;
    left: 32px;
}

.project_text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer_text{
    width: 495px;
}

.contacts_content {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.star {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.pop {
    border: 1px solid #356EAD;
    border-radius: 10px;
    opacity: 0.4;
}

.darkside {
   background: #5A98D0;
   box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px; 
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   text-transform: uppercase;
}

.info {
    display:flex;
    justify-content: space-around;
    margin-top: 64px;
}

/* media requests for tablet devices */

@media (max-width: 1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .main__info{
        background-position: right 280px;
        padding-bottom: 60px;
    }

    .the_main_content_of_the_page{
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .big_button{
        padding: 4px 31px;
    }

    .footer_infos{
        flex-direction: column;
    }

    .main_footer{
        padding-top: 48px;
    }


    .f_list{
        margin-bottom: 24px;
    }
}



/* media requests for mobile devices */

@media (max-width: 667px){

    .header{
        padding-top: 24px;
        padding-bottom: 46px;
    }

    .top__content{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .main__info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .resty_1 {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .start_1{
        width: 100%;
        text-align: center;
    }

    .top_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .tube_1{
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .the_main_content_of_the_page{
        padding-top: 32px;
    }

    .card{
        width: 100%;
    }

    .start1 {
        width: 100%;
    }

    .image_inside {
        font-size: 16px;
        line-height: 19px;
        top:16px;
        right: 16px;
    }

    .image_inside_2{
        left: 16px;
    }

    .project_parent{
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item_margin{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer-top{
        flex-direction: column;
        padding-bottom: 41px;
    }

    .footer_text{
        width: 100%;
    }

    .footer_heading{
        width: 75%;
        margin: 0 auto 32px;
        text-align: center;
    }

    .start__footer{
        text-align: center;
        margin-bottom: 40px;
    }

    .f_list{
        margin-bottom: 18px;
    }

    .footer_copy{
        margin-top: 32px;
    }

    .main_footer{
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .image_inside_2{
        font-size: 16px;
        line-height: 19px;
    }

}


//form page 
.header_2{
    display: flex;
    justify-content: space-between;
    height: 111px;
    margin-top: 18px;
}

.imgheader{
    padding-top: 14px;
}

.imgheader2{
    padding-top: 7px;
}

.header_f{
    display: flex;
    flex-direction: column;
    background-image: url(img/maskgroup29.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.formtext_1{
    min-width: 233px;
    min-height: 74px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 45px;
    padding-bottom: 16px;
}

.formtext_2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}


.resty_2{
    padding-top: 51px;
    min-width: 233px;
    padding-bottom: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.infor_text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 49px;
    padding-left: 100px;
    padding-right: 100px;
}

.info_ls{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    list-style-type: none;
    padding-bottom: 24px;
    text-decoration: none;
}

.contacts_content{
    margin-top: 57px;
    margin-bottom: 96px;
}

.spb_map{
    display:flex;
    justify-content:center;
}

.the_main_form_2{
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.sendmessage{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-top: 56px;
    padding-left: 56px;
    padding-bottom: 48px;
}

.sendmtext{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-bottom: 8px;
    padding-left: 56px;
    padding-right: 36px;
}

.sendmessage_pop{
    width: 428px;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 42px;
    padding-right: 42px;
    margin-left: 56px;
    margin-bottom: 32px;
}

.sendmessbutton{
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left: 56px;
    margin-top: 70px;
    margin-bottom: 56px;
    width: 428px;
    border: none;

}

.contact_info_block{
    width: 540px;
    height: 800px;
}

.sendmessage_pop_text{
    min-width: 428px;
    height: 144px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 56px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding-top: 21px;
    padding-left: 36px;
    font-family: 'Roboto';
}

.infor_first_block{
    width: 301px;
    height: 668px;
}

.cotact_form_image{
    padding-bottom: 56px;
}

.info_ls_text{
    width: 299px;
    min-height: 53px;
    padding-bottom: 40px;
}

.info_ls_space{
    padding-bottom: 16px;
}

.info_ls_space_2{
    padding-bottom: 40px;
}

.info_ls_tlf{
    text-decoration: none;
    color: #1F3F68;
}

.info_ls_globe{
    text-decoration: none;
    color: #1F3F68;
}

.info_ls_post{
    text-decoration: none;
    color: #1F3F68;
}

.info_ls_tlf::before{
    content: url(img/tlficon.svg);
    padding-right: 19px;
}

.info_ls_globe::before{
    content: url(img/globeicon.svg);
    padding-right: 18px;
}

.info_ls_post::before{
    content: url(img/posticon.svg);
    padding-right: 18px;
}

@media (max-width: 1024px){
    .contacts_content{
        flex-wrap: wrap;
        margin-bottom: 64px;
    }

    .infor_first_block{
        margin-bottom: 125px;
    }

    .spb_map{
        padding-left: 0px;
        padding-right: 0px;
    }

    .main_footer{
        margin-top: 60px;
    }

    .contact_info_block{
        min-width: 520px;
        min-height: 780px;
    }
    
}

@media (max-width: 667px){

    .main_footer{
        margin-top: 32px;
    }

    .spb_map{
        padding-left: 0px;
        padding-right: 0px;
    }

    .contacts_content{
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    .infor_first_block{
        margin-bottom: 95px;
    }
}